In [1]:
import pandas as pd
df1 = pd.DataFrame({
  'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
  'data1': pd.Series(range(7))})
df2 = pd.DataFrame({
  'key': ['a', 'b', 'd'],
  'data2': pd.Series([False, True, True])})

In [2]:
print(df1)
print(df2)

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6
  key  data2
0   a  False
1   b   True
2   d   True

In [3]:
# 기본적으로 inner join 
df_join2 = pd.merge(df1, df2)
print(df_join2)

  key  data1  data2
0   b      0   True
1   b      1   True
2   b      6   True
3   a      2  False
4   a      4  False
5   a      5  False

In [4]:
df3 = pd.DataFrame({
  'key_l': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
  'data1': pd.Series(range(7))})
df4 = pd.DataFrame({
  'key_r': ['a', 'b', 'd'],
  'data2': pd.Series(range(3))})

In [5]:
df_join = pd.merge(df3, df4,
                   left_on = 'key_l', right_on = 'key_r')
print(df_join)

  key_l  data1 key_r  data2
0     b      0     b      1
1     b      1     b      1
2     b      6     b      1
3     a      2     a      0
4     a      4     a      0
5     a      5     a      0

In [6]:
df_join

  key_l  data1 key_r  data2
0     b      0     b      1
1     b      1     b      1
2     b      6     b      1
3     a      2     a      0
4     a      4     a      0
5     a      5     a      0

In [7]:
print(df1)
print(df2)

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6
  key  data2
0   a  False
1   b   True
2   d   True

In [8]:
df_join_outer = pd.merge(df3, df4, how = 'outer',
                   left_on = 'key_l', right_on = 'key_r')
print(df_join_outer)

  key_l  data1 key_r  data2
0     b    0.0     b    1.0
1     b    1.0     b    1.0
2     b    6.0     b    1.0
3     a    2.0     a    0.0
4     a    4.0     a    0.0
5     a    5.0     a    0.0
6     c    3.0   NaN    NaN
7   NaN    NaN     d    2.0

In [14]:
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

In [15]:
df2

  key  data2
0   a  False
1   b   True
2   d   True

In [10]:
df_join_left = pd.merge(df1, df2, how = 'left',
                   on = 'key')
print(df_join_left)

  key  data1  data2
0   b      0   True
1   b      1   True
2   a      2  False
3   c      3    NaN
4   a      4  False
5   a      5  False
6   b      6   True

In [16]:
df_join_left = pd.merge(df1, df2, how = 'right',
                   on = 'key')
print(df_join_left)

  key  data1  data2
0   a    2.0  False
1   a    4.0  False
2   a    5.0  False
3   b    0.0   True
4   b    1.0   True
5   b    6.0   True
6   d    NaN   True

In [11]:
students = pd.DataFrame({
    'student_id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'class': ['Math', 'History', 'Math', 'Science']})
grades = pd.DataFrame({
    'student_id': [1, 2, 3],
    'class': ['Math', 'History', 'Science'],
    'grade': ['A', 'B', 'A']})
print(students)
print(grades)

   student_id     name    class
0           1    Alice     Math
1           2      Bob  History
2           3  Charlie     Math
3           4    David  Science
   student_id    class grade
0           1     Math     A
1           2  History     B
2           3  Science     A

In [13]:
df_join_mult = pd.merge(students, grades,
                        on = ['student_id', 'class'],
                        how = 'left')
print(df_join_mult)

   student_id     name    class grade
0           1    Alice     Math     A
1           2      Bob  History     B
2           3  Charlie     Math   NaN
3           4    David  Science   NaN

In [17]:
survey_2022 = pd.DataFrame({
    'respondent_id': [1, 2, 3],
    'opinion': ['agree', 'disagree', 'neutral']})
print(survey_2022)
survey_2023 = pd.DataFrame({
    'respondent_id': [4, 5, 6],
    'opinion': ['neutral', 'agree', 'disagree']})
print(survey_2023)

   respondent_id   opinion
0              1     agree
1              2  disagree
2              3   neutral
   respondent_id   opinion
0              4   neutral
1              5     agree
2              6  disagree

In [18]:
survey_concate_row = pd.concat(
  [survey_2022, survey_2023],
  axis = 0,
  ignore_index = True) # new index가 생깁니다
print(survey_concate_row)

   respondent_id   opinion
0              1     agree
1              2  disagree
2              3   neutral
3              4   neutral
4              5     agree
5              6  disagree

In [19]:
demographics = pd.DataFrame({
    'age': [25, 30, 35, 40],
    'gender': ['M', 'F', 'F', 'M']},
    index=[1, 2, 3, 4])  # index is respondent_id
print(demographics)
responses = pd.DataFrame({
    'opinion': ['agree', 'disagree', 'neutral', 'agree']},
    index=[1, 2, 3, 4])  # index is respondent_id
print(responses)

   age gender
1   25      M
2   30      F
3   35      F
4   40      M
    opinion
1     agree
2  disagree
3   neutral
4     agree

In [20]:
survey_concat_column = pd.concat(
  [demographics, responses],
  axis = 1)
print(survey_concat_column)

   age gender   opinion
1   25      M     agree
2   30      F  disagree
3   35      F   neutral
4   40      M     agree

In [21]:
demographics = pd.DataFrame({
    'age': [25, 30, 35, 40],
    'gender': ['M', 'F', 'F', 'M']},
     index=[1, 2, 6, 8])  # index is respondent_id
print(demographics)
responses = pd.DataFrame({
    'opinion': ['agree', 'disagree', 'neutral', 'agree']},
     index=[0, 1, 2, 3])  # index is respondent_id
print(responses)

   age gender
1   25      M
2   30      F
6   35      F
8   40      M
    opinion
0     agree
1  disagree
2   neutral
3     agree

In [22]:
survey_concat_column = pd.concat(
  [demographics, responses],
  axis = 1)
print(survey_concat_column)
# 인덱스 기준으로 concat이 진행된다

    age gender   opinion
1  25.0      M  disagree
2  30.0      F   neutral
6  35.0      F       NaN
8  40.0      M       NaN
0   NaN    NaN     agree
3   NaN    NaN     agree

In [23]:
survey_concat_column = pd.concat(
  [demographics, responses], axis = 1).reset_index(drop = True)
print(survey_concat_column)

    age gender   opinion
0  25.0      M  disagree
1  30.0      F   neutral
2  35.0      F       NaN
3  40.0      M       NaN
4   NaN    NaN     agree
5   NaN    NaN     agree

In [24]:
survey_concat_column = pd.concat([
  demographics.reset_index(drop = True),
  responses.reset_index(drop = True)],
  axis = 1)
print(survey_concat_column)

   age gender   opinion
0   25      M     agree
1   30      F  disagree
2   35      F   neutral
3   40      M     agree

In [25]:
survey_concat_column_inner = pd.concat(
  [demographics, responses],
  axis = 1,
  join = 'inner')
print(survey_concat_column_inner)
#  NaN 삭제

   age gender   opinion
1   25      M  disagree
2   30      F   neutral

In [27]:
survey_concat_column_inner = pd.concat(
  [demographics, responses],
  axis = 1,
  join = 'outer')
print(survey_concat_column_inner)

    age gender   opinion
1  25.0      M  disagree
2  30.0      F   neutral
6  35.0      F       NaN
8  40.0      M       NaN
0   NaN    NaN     agree
3   NaN    NaN     agree

In [28]:
survey_concat_column_inner = pd.concat(
  [demographics, responses],
  axis = 1)
print(survey_concat_column_inner)

    age gender   opinion
1  25.0      M  disagree
2  30.0      F   neutral
6  35.0      F       NaN
8  40.0      M       NaN
0   NaN    NaN     agree
3   NaN    NaN     agree

In [29]:
manuscript_1 = pd.DataFrame(
  {'text': ['text1a', 'text1b']}
  )
manuscript_2 = pd.DataFrame(
  {'text': ['text2a', 'text2b']}
  )
print(manuscript_1)
print(manuscript_2)

     text
0  text1a
1  text1b
     text
0  text2a
1  text2b

In [30]:
combined_texts = pd.concat([manuscript_1, manuscript_2],
                           keys = ['m1', 'm2'])
print(combined_texts)

        text
m1 0  text1a
   1  text1b
m2 0  text2a
   1  text2b

In [31]:
combined_texts.index

MultiIndex([('m1', 0),
            ('m1', 1),
            ('m2', 0),
            ('m2', 1)],
           )

In [34]:
combined_texts.loc['m1']

     text
0  text1a
1  text1b

In [35]:
trade_data = pd.DataFrame({
    '2019': [100, 80, 120],
    '2020': [105, 78, 130],
    '2021': [110, 82, 135]},
     index = ['USA', 'UK', 'China']
    )
print(trade_data)

       2019  2020  2021
USA     100   105   110
UK       80    78    82
China   120   130   135

In [36]:
data_wide = {'Jan': [30, 25],
             'Feb': [31, 24],
             'Mar': [29, 26]}
df_wide = pd.DataFrame(data_wide,
                       pd.Index(['CA', 'NY'],
                       name = 'state'))
df_wide.columns.name = 'month'
print(df_wide)
# 열 : state 행 : month 내용 : usage

month  Jan  Feb  Mar
state
CA      30   31   29
NY      25   24   26

In [37]:
data_long = {
  'state': ['CA', 'CA', 'CA', 'NY', 'NY', 'NY'],
  'month': ['Jan', 'Feb', 'Mar', 'Jan', 'Feb', 'Mar'],
  'usage': [30, 31, 29, 25, 24, 26]
}
df_long = pd.DataFrame(data_long)
print(df_long)
# 열 : state, month usage 
# nested data

  state month  usage
0    CA   Jan     30
1    CA   Feb     31
2    CA   Mar     29
3    NY   Jan     25
4    NY   Feb     24
5    NY   Mar     26

In [38]:
trade_data = pd.DataFrame({
    '2019': [100, 80, 120],
    '2020': [105, 78, 130],
    '2021': [110, 82, 135]},
     index = ['USA', 'UK', 'China']
    )
print(trade_data)

       2019  2020  2021
USA     100   105   110
UK       80    78    82
China   120   130   135

In [39]:
trade_data_s = trade_data.stack()
print(trade_data_s)
print(type(trade_data_s))

USA    2019    100
       2020    105
       2021    110
UK     2019     80
       2020     78
       2021     82
China  2019    120
       2020    130
       2021    135
dtype: int64
<class 'pandas.core.series.Series'>

In [41]:
type(trade_data_s)

pandas.core.series.Series

In [43]:
trade_data_s.index
#  행과 열이 모두 인덱스화됨

MultiIndex([(  'USA', '2019'),
            (  'USA', '2020'),
            (  'USA', '2021'),
            (   'UK', '2019'),
            (   'UK', '2020'),
            (   'UK', '2021'),
            ('China', '2019'),
            ('China', '2020'),
            ('China', '2021')],
           )

In [46]:
trade_data_s.loc['UK']

2019    80
2020    78
2021    82
dtype: int64

In [48]:
df = pd.DataFrame(trade_data_s)

In [49]:
df.index

MultiIndex([(  'USA', '2019'),
            (  'USA', '2020'),
            (  'USA', '2021'),
            (   'UK', '2019'),
            (   'UK', '2020'),
            (   'UK', '2021'),
            ('China', '2019'),
            ('China', '2020'),
            ('China', '2021')],
           )

In [50]:
type(df)

pandas.core.frame.DataFrame

In [51]:
# 기본이 -1임 그래서 마지막 인덱스를 가지고 unstack진행
trade_data = trade_data_s.unstack()
print(trade_data)

       2019  2020  2021
USA     100   105   110
UK       80    78    82
China   120   130   135

In [52]:
print(trade_data_s.unstack(level = 0))

      USA  UK  China
2019  100  80    120
2020  105  78    130
2021  110  82    135

In [53]:
df_trade_data_s = trade_data_s.reset_index()
df_trade_data_s.columns = ['partner', 'year', 'volume']
print(df_trade_data_s)

  partner  year  volume
0     USA  2019     100
1     USA  2020     105
2     USA  2021     110
3      UK  2019      80
4      UK  2020      78
5      UK  2021      82
6   China  2019     120
7   China  2020     130
8   China  2021     135

In [54]:
data_wide = {'Jan': [30, 25],
             'Feb': [31, 24],
             'Mar': [29, 26]}
df_wide = pd.DataFrame(data_wide,
                       pd.Index(['CA', 'NY'],
                       name = 'state'))
df_wide.columns.name = 'month'
print(df_wide)

month  Jan  Feb  Mar
state
CA      30   31   29
NY      25   24   26

In [55]:
coffee_data = pd.DataFrame({
    'department': ['biology', 'history', 'physics'],
    '0': [5, 2, 10], # not at all
    '1': [7, 3, 16], # sometimes
    '2': [15, 9, 20], # always
    })
print(coffee_data)

  department   0   1   2
0    biology   5   7  15
1    history   2   3   9
2    physics  10  16  20

In [56]:
long_format_coffee_data = coffee_data.melt(
  id_vars = ['department'],
  var_name = 'consumption',
  value_name = 'num_students'
)

In [57]:
print(long_format_coffee_data)

  department consumption  num_students
0    biology           0             5
1    history           0             2
2    physics           0            10
3    biology           1             7
4    history           1             3
5    physics           1            16
6    biology           2            15
7    history           2             9
8    physics           2            20

In [58]:
long_format = coffee_data.set_index('department').stack()
print(long_format)

department
biology     0     5
            1     7
            2    15
history     0     2
            1     3
            2     9
physics     0    10
            1    16
            2    20
dtype: int64

In [59]:
sales_dict = {'product': ['A', 'A', 'B', 'B'],
              'month': ['Jan', 'Feb', 'Jan', 'Feb'],
              'sales': [100, 110, 90, 95],
              'stock': [32, 53, 23, 44]}
sales_df = pd.DataFrame(sales_dict)
print(sales_df)

  product month  sales  stock
0       A   Jan    100     32
1       A   Feb    110     53
2       B   Jan     90     23
3       B   Feb     95     44

In [61]:
p_sales1 = sales_df.pivot(index = 'month',
                          columns = 'product',
                          values = 'sales')
print(p_sales1)

product    A   B
month
Feb      110  95
Jan      100  90

In [62]:
import numpy as np
df = pd.DataFrame({
  'key1' : ['a', 'a', 'c', 'b', 'b', 'a', 'a'],
  'key2' : pd.Series([2, 2, 1, 2, 1, None, 1]),
  'data1' : np.random.standard_normal(7),
  'data2' : np.random.standard_normal(7)})
print(df)

  key1  key2     data1     data2
0    a   2.0 -0.770288 -2.003775
1    a   2.0 -1.608891  0.518658
2    c   1.0 -1.291943 -1.077079
3    b   2.0 -0.301811  0.030912
4    b   1.0  0.875180  1.035928
5    a   NaN  0.563141  0.148600
6    a   1.0  1.495851 -1.938510

In [63]:
grouped = df.groupby(df['key1'])
print(type(grouped))

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

In [66]:
for x, y in df.groupby(['key1']):
    print(x)
    print(y)

a
  key1  key2     data1     data2
0    a   2.0 -0.770288 -2.003775
1    a   2.0 -1.608891  0.518658
5    a   NaN  0.563141  0.148600
6    a   1.0  1.495851 -1.938510
b
  key1  key2     data1     data2
3    b   2.0 -0.301811  0.030912
4    b   1.0  0.875180  1.035928
c
  key1  key2     data1     data2
2    c   1.0 -1.291943 -1.077079

/var/folders/ps/mmfjqxl52pb1b3b_0bbt37gr0000gn/T/ipykernel_34798/4291522195.py:1: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for x, y in df.groupby(['key1']):

In [67]:
print(grouped['data1'].mean())
print(grouped[['data1','data2']].mean())

key1
a   -0.080047
b    0.286684
c   -1.291943
Name: data1, dtype: float64
         data1     data2
key1
a    -0.080047 -0.818757
b     0.286684  0.533420
c    -1.291943 -1.077079

In [68]:
df

  key1  key2     data1     data2
0    a   2.0 -0.770288 -2.003775
1    a   2.0 -1.608891  0.518658
2    c   1.0 -1.291943 -1.077079
3    b   2.0 -0.301811  0.030912
4    b   1.0  0.875180  1.035928
5    a   NaN  0.563141  0.148600
6    a   1.0  1.495851 -1.938510

In [72]:
grouped2 = df.groupby(
  [df['key1'], df['key2']],
  dropna = False)

In [73]:
for (x, y), z in grouped2:
    print((x, y))
    print(y)

('a', 1.0)
1.0
('a', 2.0)
2.0
('a', nan)
nan
('b', 1.0)
1.0
('b', 2.0)
2.0
('c', 1.0)
1.0

In [74]:
grouped2 = df.groupby(
  [df['key1'], df['key2']])

In [75]:
for (x, y), z in grouped2:
    print((x, y))
    print(y)

('a', 1.0)
1.0
('a', 2.0)
2.0
('b', 1.0)
1.0
('b', 2.0)
2.0
('c', 1.0)
1.0

In [76]:
dict_to = {
  'region': ['R1', 'R1', 'R2', 'R2', 'R3', 'R3'],
  'district': ['A', 'B', 'C', 'D', 'E', 'F'],
  'turnout': [0.61, 0.46, 0.64, 0.75, 0.63, 0.55]
  }
df_to = pd.DataFrame(dict_to)
print(df_to)

  region district  turnout
0     R1        A     0.61
1     R1        B     0.46
2     R2        C     0.64
3     R2        D     0.75
4     R3        E     0.63
5     R3        F     0.55

In [77]:
print(
  df_to.groupby('region')['turnout'].agg(
  ['min', 'max'])
  )

         min   max
region
R1      0.46  0.61
R2      0.64  0.75
R3      0.55  0.63

In [79]:
def min_max_diff(arr):
    print(type(arr))
    return arr.max() - arr.min()

df_to_agg = df_to.groupby('region')['turnout'].agg(
    [min_max_diff, 'min', 'max']
    )
print(df_to_agg)

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
        min_max_diff   min   max
region
R1              0.15  0.46  0.61
R2              0.11  0.64  0.75
R3              0.08  0.55  0.63

In [80]:
df_to_agg_index_col = df_to.groupby(
  'region', as_index = False)['turnout'].agg(
    [min_max_diff, 'min', 'max']
    )

print(df_to_agg_index_col)

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
        min_max_diff   min   max
region
R1              0.15  0.46  0.61
R2              0.11  0.64  0.75
R3              0.08  0.55  0.63

In [81]:
df_to_agg_index_col.index

Index(['R1', 'R2', 'R3'], dtype='object', name='region')

In [82]:
df_to_agg.index

Index(['R1', 'R2', 'R3'], dtype='object', name='region')

In [ ]:
# strim line chat gpt에 옵션으로 넣어주면 좋다.